body {
  min-height: 100vh;
  }
  
.items {
  height: 70vh;
  overflow: scroll;
}

.container {
  overflow: auto;
  min-height: 90vh;
}
.container > .grid {
  min-height: 85vh;
}

.grid > .column {
  min-height: 100%;
}

form.ui.form .ui.input {
  font-size: 1.15rem;
}

.ui.modal>.content>.description {
  margin-bottom: 2vh;
}

#successIndicator {
  background-color: rgb(221, 255, 221);
  text-align: center;
  margin-bottom: 2vh;
}

.App {
  background-color: gainsboro;
  min-height: 100vh;
}

.startMenu {
  min-height: 85vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
}

#sidebarIcon {
  position: fixed;
}

.visibleSidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: rgba(34, 36, 38, 0.12) 0px 2px 4px 0px, rgba(34, 36, 38, 0.15) 0px 2px 10px 0px;
  position: fixed;
  top: 5vh;
  width: 20vw;
  height: 33vh;
  z-index: 1;
  background-color: white;
  padding-left: 3vw;
  padding-right: 2vw;
}

.visibleSidebar p {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 2vh;
  border-bottom: 1px solid darkgray;
}

.hiddenSidebar {
  display: none;
}

.startMenu h1 {
  padding-bottom: 2vh;
  border-bottom: 1px solid gainsboro;
}

div.startMenu img.ui.image.fluid {
  padding: 10vw;
}

.startMenuButtons {
  border-top: 1px solid gainsboro;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2vh;
}

.startMenuButtons div {
  width: 45%;
}

.button.primary {
  margin-top: 40%;
}

.actions > button.ui.large.button.fluid.positive {
  margin-left: 0;
  margin-bottom: 2vh;
}

div.column.seven.wide {
  overflow: auto;
}

.image.tiny {
  margin: 0px;
}

.ui.dropdown.icon {
  color: silver;
}

div.header i.times.icon::before {
  cursor: pointer;
  position: fixed;
  right: 1.5vw;
  top: 1vh;
}

#parametersChange {
  color: silver;
  cursor: pointer;
  text-align: right;
}
#parametersChange i {
  margin-left: 3px;
}
#rosterPositionContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
}

#positionCounter {
  border-bottom: 1px solid gainsboro;
}

#rosterNameEdit i {
  margin-left: 2vw;
  color: silver;
}

form.ui,form p {
  color: black;
  font-size: 1.15em;
}

.loadingContainer {
  text-align: center;
  margin-top: 75px;
}

form.ui.form {
  text-align: center;
}

#playerListHeader {
  display: flex;
  border-bottom: 1px solid gainsboro;
  justify-content: space-between;

}
div.description {
  color: gray;
}
#searchOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 2vh;
}

#searchOptions div {
  flex: 0 0 50%;
}

#searchOptions h3, p {
  margin-bottom: 2px;
}

div.ui.form.two.column.grid > .row {
  padding-top: 0px;
}

#playerSearch {
  padding-top: 2vh;
  padding-bottom: 2vh;
  overflow: hidden;
}

#playerSearch input {
  margin-bottom: 1vh;
  font-size: 1.15rem;
}

div.description {
  font-size: 1.15rem;
  color: black;
}

div.column.tewelve.wide input{
  font-size: 1.15rem;
}

#existingRosterList {
  text-align: center;
  max-height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: auto;
}

#existingRosterList > button {
  margin-top: 2vh;
}

#addedGraphic {
  color: black;
}
.fullList {
  border-right: 1px solid gainsboro;
}

.playerSearchProfile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  padding: 6px;
}

.nav {
  background-color: darkgreen;
  height: 5vh;
  border-bottom: 2px solid slategrey;
  display: flex;
}

i.bars.icon.large {
  color: white;
  margin-top: 1vh;
  margin-left: 1vh;
}

#aboutOptions div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
  align-items: center;
}

#startFact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#startFact p {
  width: 75%;
  font-size: 20px;
}

#aboutOptions div > p {
  width: 75%;
}

#listSpacer {
  display: none;
}

.nav h1 {
  color: white;
  margin: 0 auto;
}

#resetConfirmDescription {
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#resetConfirmDescription > p {
  margin-left: 2vh;
}
.currentRosterDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.currentRosterDisplay > .item {
  width: 50%;
}

.item > .segment {
  height: 100%;
}


@media screen and (max-width: 600px) {
  .visibleSidebar {
    top: 6vh;
    width: 50vw;
  }
  .startMenuButtons div {
    width: auto;
  }
  #startFact p {
    font-size: 16px;
  }
  div.startMenu img.ui.image.fluid {
    padding: 5vw;
  }
  #rosterPositionContainer {
    height: fit-content;
  }
  .rosterDisplayContainer {
    margin-top: 1vh;
  }
  .image.tiny {
    max-height: 58px;
  }
  .fullList {
    border-right: none;
    border-bottom: 1px solid gainsboro;
  }
  .items {
    height: 40vh;
  }
  .nav {
    height: 6vh;
  }
  #rosterDetailsMenu > .item {
    padding-bottom: 4px;
    margin: 0 auto;
    text-align: center;
  }
  #rosterDetailsHeader {
    padding-left: 5px;
    padding-bottom: 5px;
  }
  .currentRosterDisplay{
    padding-left: 5vw;
    padding-right: 5vw
  }
  #listSpacer {
    display: block;
    height: 5vh;
    text-align: center;
  }
  #listSpacer p {
    padding-top: 1vh;
    color: silver;
  }  
}