body {
    font: 14px "Century Gothic", Futura, sans-serif;
    min-height: 100vh;
  }
  
.items {
  height: 70vh;
  overflow: scroll;
}

.container {
  overflow: auto;
  min-height: 90vh;
}
.container > .grid {
  min-height: 85vh;
}

.grid > .column {
  min-height: 100%;
}

.App {
  background-color: gainsboro;
  min-height: 100vh;
}

.times {
  float: right;
}

.image.tiny {
  margin: 0px;
}

.ui.dropdown.icon {
  color: gray;
}

#parametersChange {
  color: gray;
  cursor: pointer;
}
#parametersChange i {
  margin-left: 3px;
}
#rosterPositionContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#positionCounter {
  border-bottom: 1px solid gainsboro;
}

.loadingContainer {
  text-align: center;
  margin-top: 75px;
}

#searchOptions {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
}

div.ui.form.two.column.grid > .row {
  padding-top: 0px;
}

#playerSearch {
  padding-top: 2vh;
}

#playerSearch input {
  margin-bottom: 1vh;
}

.fullList {
  border-right: 1px solid gainsboro;
}

.playerSearchProfile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  padding: 6px;
}

.nav {
  text-align: center;
  background-color: darkgreen;
  height: 5vh;
  border-bottom: 2px solid slategrey;
}

.nav h1 {
  color: white;
  margin: 0 auto;
}

.currentRosterDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.currentRosterDisplay > .item {
  width: 50%;
}

.item > .segment {
  height: 100%;
}


@media screen and (max-width: 600px) {
  .fullList {
    border-right: none;
    border-bottom: 1px solid gainsboro;
  }
  .items {
    height: 40vh;
  }
  .nav {
    height: 6vh;
  }
  #rosterDetailsMenu > .item {
    padding-bottom: 4px;
    margin: 0 auto;
    text-align: center;
  }
  #rosterDetailsHeader {
    padding-left: 5px;
    padding-bottom: 5px;
  }
}