body {
  min-height: 100vh;
  }
  
.items {
  height: 70vh;
  overflow: scroll;
}

.container {
  overflow: auto;
  min-height: 90vh;
}
.container > .grid {
  min-height: 85vh;
}

.grid > .column {
  min-height: 100%;
}

form.ui.form .ui.input {
  font-size: 1.15rem;
}

.App {
  background-color: gainsboro;
  min-height: 100vh;
}

.startMenu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/field.jpg');
  background-size: cover;
  min-height: 85vh;
}

div.startMenu h1 {
  text-align: center;
  padding: 5vh;
  color: white;
}

.startMenuButtons {
  padding-top: 45vh;
  display: flex;
  justify-content: space-evenly;
}

div.startMenuButtons a {
  color: white;
}

.button.primary {
  margin-top: 40%;
}

.actions > button.ui.large.button.fluid.positive {
  margin: 0;
}

.image.tiny {
  margin: 0px;
}

.ui.dropdown.icon {
  color: silver;
}

#parametersChange {
  color: silver;
  cursor: pointer;
  text-align: right;
}
#parametersChange i {
  margin-left: 3px;
}
#rosterPositionContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#positionCounter {
  border-bottom: 1px solid gainsboro;
}

#rosterNameEdit i {
  margin-left: 2vw;
  color: silver;
}

form.ui,form p {
  color: black;
  font-size: 1.15em;
}

.loadingContainer {
  text-align: center;
  margin-top: 75px;
}

form.ui.form {
  text-align: center;
}

#playerListHeader {
  display: flex;
  border-bottom: 1px solid gainsboro;
  justify-content: space-between;

}
div.description {
  color: gray;
}
#searchOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 2vh;
}

#searchOptions div {
  flex: 0 0 50%;
}

#searchOptions h3, p {
  margin-bottom: 2px;
}

div.ui.form.two.column.grid > .row {
  padding-top: 0px;
}

#playerSearch {
  padding-top: 2vh;
  padding-bottom: 2vh;
  overflow: hidden;
}

#playerSearch input {
  margin-bottom: 1vh;
  font-size: 1.15rem;
}

#addedGraphic {
  color: black;
}
.fullList {
  border-right: 1px solid gainsboro;
}

.playerSearchProfile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  padding: 6px;
}

.nav {
  text-align: center;
  background-color: darkgreen;
  height: 5vh;
  border-bottom: 2px solid slategrey;
}

#listSpacer {
  display: none;
}

.nav h1 {
  color: white;
  margin: 0 auto;
}

.currentRosterDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.currentRosterDisplay > .item {
  width: 50%;
}

.item > .segment {
  height: 100%;
}


@media screen and (max-width: 600px) {
  #rosterPositionContainer {
    height: fit-content;
  }
  .rosterDisplayContainer {
    margin-top: 1vh;
  }
  .image.tiny {
    max-height: 58px;
  }
  .fullList {
    border-right: none;
    border-bottom: 1px solid gainsboro;
  }
  .items {
    height: 40vh;
  }
  .nav {
    height: 6vh;
  }
  #rosterDetailsMenu > .item {
    padding-bottom: 4px;
    margin: 0 auto;
    text-align: center;
  }
  #rosterDetailsHeader {
    padding-left: 5px;
    padding-bottom: 5px;
  }
  .currentRosterDisplay{
    padding-left: 5vw;
    padding-right: 5vw
  }
  #listSpacer {
    display: block;
    height: 5vh;
    text-align: center;
  }
  #listSpacer p {
    padding-top: 1vh;
    color: silver;
  }  
}